.quiz {
    max-width: 500px;
    margin: 0 auto;
    margin-left: 500px;
    margin-top: 95px;
    padding: 40px;
    background-color: rgb(0, 7, 61);
    border-radius: 5px;
    box-shadow: 10px 10px 10px 10px rgba(11, 11, 11, 0.1);
    color: white;
  }
  
  .score-section {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .question-section {
    margin-bottom: 20px;
  }
  
  .question-count {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .question-text {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .answer-section button {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    background-color: #fff;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;

  }
  
  .answer-section button:hover {
    background-color: #f9f9f9;
  }
  
  .answer-section button:last-child {
    margin-bottom: 0;
  }
  .btnQuiz{
    border : none;
    border-radius: 2px;
    margin-top: 8px;
    font-size: medium;
    font-weight: 600;
  }



  /* --------SignUp--------- */

  
  
.reg{
  box-sizing: border-box;
  border: 0px solid black;
  box-shadow: 5px ;
  border-radius:2px ;
  margin: 50px 400px;
  display: flex;
  justify-content: center;
 
  
}
.regform{
  box-sizing: border-box;
  background-color: #b9ceee;
  height:500px;
  margin:0 auto;
  box-shadow:4px 4px 4px 4px rgb(199, 195, 195);
  border:none;
  border-radius: 5px 0px 0px 5px;  
  align-items: center;
  padding: 10px auto;
  
 

}
.inputform{
  height:35px;
  margin: 10px 70px  ;
  width: 70%;
  border-radius: 4px;
  border: none;
  text-align: center;
}
.form-btn{
  height:35px;
  margin-top: 10px;
  margin-inline: 130px;
  width: 40%;
  border-radius: 4px;
  border: none;
  color: white;
  background-color: rgb(73, 73, 214);;

}

.fields{
padding-top: 70px;


}
.half{
  width: 50%;
  background: rgb(73, 73, 214);
  border-radius: 0px 5px 5px 0px;  
  box-shadow:4px 4px 4px 4px rgb(172, 165, 165);
  display: flex;
  justify-content: center;
  align-items: center;

}
.half-card h2{
  color: white;
  font-size: 70px;
  font-family: cursive;
  text-align: center;
}
.half-card h4{
  color: white;
    font-size: 30px;
    font-family: cursive;
    text-align: center;
}
.form{
  width: 50%;
  margin:0 auto;
  
   
}
